/*APRESENTAÇÃO
---------------------------*/
.apresentation{
    width: 80%;
    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1em 0em 0em 1em;
}

.apresentation h1{
    font-weight: 800;
    color: white;
}

.apresentation div{
    display: flex;
    flex-direction: column;
    padding: 3em 4em;
    gap: 1em;
    color: #f1f1f1;
}

.apresentation div h2{
    color: white;
    font-size: 1.5em;
}

.apresentation div button{
     background-color: green;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    cursor: pointer;

    font-size: 1em;
    font-weight: bold;
    color: #f1f1f1;
    border: 1.5px solid white;
    transition: 0.2s ease-in-out;
    margin-top: 1em;
}

.apresentation div button:hover{
    color: rgb(0, 78, 78);
    border: 1px solid  rgb(0, 78, 78);
    background-color: #f1f1f1;
}

.apresentation div p{
    font-size: 0.8em;
}

/*LOGIN USUÁRIO
----------------------*/
.containerSign{
    margin: auto;
    width: 1200px;
    max-width: 90%; 
    display: flex;
    justify-content: center;
    border-radius: 1em;
}

.sign{
    width: 100%;
    padding: 8em;
    display: flex;
    flex-direction: column;
    
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 128, 0, 0.207);
    border-bottom: none;
        border-radius: 0em 1em 1em 0em;

}

.sign h3{
    text-align: center;
    font-size: 2.1em;
    color: rgb(0, 78, 78);
    padding-bottom: 0.2em;

    border-bottom: 2px solid rgba(81, 81, 81, 0.64);
}

.sign form{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
}

.sign input{
    width: 100%;
    padding: 0.6em;
    border: 1px solid rgba(126, 126, 126, 0.638);
    border-radius: 0.3em;
    font-size: 0.75em;   
}

.sign input:focus{
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); 
}

.sign label{
    font-size: 0.9em;
    padding: 0.8em 0em 0.2em;
    color: rgb(0, 32, 32);

}

.sign .btnSign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign .btnSign .btnLogin{
    width: 50%;
    padding: 0.3em;
    margin: 1em;
    cursor: pointer;
    
    background-color: rgb(0, 78, 78);
    border-radius: 1em;


    font-size: 1.1em;
    font-weight: bold;
    color: #f1f1f1;
    border: 1px solid rgb(0, 78, 78);
    transition: 0.2s ease-in-out;
}

.sign .btnSign .btnLogin:hover{
    color: rgb(0, 78, 78);
    border: 1px solid  rgb(0, 78, 78);
    background-color: #f1f1f1;
}

.sign .btnSign .btnCreate{
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.rodape{
    background-color: #73a8bc3d;
    border: 1px solid rgba(0, 128, 0, 0.207);
    border-top: none;
    padding: 1em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.56);
    text-align: end;
}

.rodape .btnCreate{
    padding: 0.2em;
    color: rgb(5, 147, 255);
    font-weight: bold;
    cursor: pointer;
}