/*ID USER
---------------------------*/
.idUser{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.idUser div{
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.idUser button {
    padding: 0.3em 0.8em;
    border-radius: 0.5em;
    background-color: rgb(0, 78, 78);
    color: #ffffff;
    cursor: pointer;
}

/*TODO-LIST
-------------------------*/
.containerList{
    width: 740px;
    max-width: 90%;
    background-color: rgba(0, 128, 0, 0.207);
    border: 1px solid rgba(0, 128, 0, 0.207);
    border-radius: 1em;
}

.containerListTasks{
    background-color: #f1f1f1;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
}

ul{
    list-style: none;
}

.containerList h1{
    font-size: 2.2em;
    text-align: center;
    padding: 0.3em;
    color: rgb(0, 78, 78);    
}

.containerList h3, h2{
    color: rgb(0, 78, 78);
}

/*Barra de pesquisa*/
.inputSearch{
    border-bottom: 2px solid rgba(81, 81, 81, 0.64);
    padding-bottom: 1em;
}

.inputSearch h3{
    font-size: 1.65em;
    padding-bottom: 0.2em;
}

.inputSearch input{
    width: 100%;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 0.4em;
}

.inputSearch input:focus{
    outline: none;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3); 
}

/*Filtrar por status e Ordem alfabética*/
.inputFilter{
    border-bottom: 2px solid rgba(81, 81, 81, 0.64);
    padding-bottom: 1em;
}

.inputFilter h3{
    font-size: 1.65em;
    padding-bottom: 0.6em;
}

.filtros{
    display: flex;
    gap: 4em;
}

.Status, .OrdemAlfa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.Status select{
    width: 100%;
    padding: 0.2em;
    border-radius: 0.4em;
    cursor: pointer;
}

.OrdemAlfa button{
    background-color: rgb(0, 78, 78);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.25em  0.8em;
    margin-right: 0.8em;

    border-radius: 0.5em;
}

.label{
    font-size: 1.1em;
}

/*Tarefas*/
.listTasks{
    border-bottom: 2px solid rgba(81, 81, 81, 0.64);
}

.listTasks li{
    background-color: #fff;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.8em;
}

.listTasks .liText{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.liText  .name{
    font-size: 1.2em;
}

.marcado{
    text-decoration: line-through;
}

.liText .cat{
    font-size: 0.85em;
}

.liBtn button{
    margin-left: 0.5em;
    padding: 0.3em 0.7em;
    border-radius: 0.4em;
    color: #fff;
    font-weight:bold;
    cursor: pointer;
}

.liBtn .btnExcluir{
    background-color: red;
}

.liBtn .btnConcluir{
    background-color: green;
}

.liBtn .btnDesmarcar{
    background-color: orange;
}

/*Criação de tarefas*/
.criarTarefa{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.criarTarefa select:focus{
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.227);
}

.criarTarefa input:focus{
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.227);
}

.criarTarefa input, select{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.4em;
}

.criarTarefa button{
    background-color: rgb(0, 78, 78);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.3em  0.8em;
    border-radius: 0.4em;
    margin-right: 0.8em;
    width: 8em;
}