*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100dvh;
    background-color: #fff;
}

.App{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
}
/*CONTAINER
---------------*/
.container{
    width: 880px;
    padding: 2em 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: auto;
}